{% extends 'base.html' %}

{% block content %}


<div style="text-align: center">


    <h2>
        Registration
    </h2>
    
    <div class="my-4">
        <form action="/accounts/hello_world/" method="post">
            {% csrf_token %}

            <div class="row g-2" style="max-width: 500px; margin: auto;">
                 <div class="col-md flex">
                    <div class="form-floating inline-block">
                         <input type="email" name="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="mdo@example.com">
                         <label for="floatingInputGrid">Email address</label>
                    </div>
                     <button type="submit" class="btn btn-primary my-5 inline-block" type="submit" value="Submit">
                Submit
            </button>
                 </div>
            </div>


        </form>
    </div>

    <div>
        {{ temp }}
    </div>

</div>



{% endblock %}